[submodule "bench/postgresql"]
	path = bench/postgresql
	url = git@github.com:leesecre/PostgreSQL.git
[submodule "bench/mysql-server"]
	path = bench/mysql-server
	url = git@github.com:leesecre/mysql-server.git
[submodule "tools/crashmonkey"]
	path = tools/crashmonkey
	url = git@github.com:leesecre/crashmonkey.git
