[submodule "djournalplus-kernel.code"]
	path = djournalplus-kernel.code
	url = git@github.com:casys-kaist-internal/djournalplus-kernel.code.git
[submodule "spdk"]
	path = spdk
	url = https://github.com/spdk/spdk
[submodule "fs_microbench"]
	path = fs_microbench
	url = git@github.com:leesecre/fs_microbench.git
